@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Inconsolata:wght@900&family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Poppins:wght@400;700;900&family=Roboto:wght@400;900&family=Tilt+Prism&display=swap');
@font-face {
  font-family: 'Proxima-nova'; /* Give your font a name */
  src: url('../Proxima-Nova-Font/webfontkit-20230811-125021/proxima_nova_font-webfont.woff2') format('woff2'), /* Modern browsers */
       url('../Proxima-Nova-Font/webfontkit-20230811-125021/proxima_nova_font-webfont.woff') format('woff'); /* Older browsers */
  /* Add other font properties if needed, like font-weight and font-style */
}

:root{
  --light:#A3B18A;
  --primary-color:#588157;
  --secondary-color:#344E41;
  --steel-pink:#ffddfe;
  --jungle-green:#84ffce;
  --bitter-sweet:#F87060;
  --tertiary:rgb(246, 255, 233);
}

*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;

}

body{
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background-color: var(--tertiary)
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  max-height: 1800px;
  background-color:var(--tertiary);
  overflow: hidden;
}

.navbar{
  position: relative;
  padding: 1rem 1rem;
  background-color: var(--light);
}
.header h1{
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Proxima-nova' sans-serif;
  font-weight: 400;
  color:var(--bitter-sweet);
}
.logo ul{
  display: flex;
  list-style: none;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 1rem;
  color: var(--tertiary);
  text-transform: uppercase;
  font-family: 'Roboto' sans-serif;
  font-weight: 900;
}
.logo ul li{
  animation:animate-logo 1.3s linear infinite;
  text-shadow:5px 5px 5px rgba(35, 61, 37, 0.5);

}
.logo ul li:nth-child(1){
  animation-delay: .1s;
}
.logo ul li:nth-child(2){
  animation-delay: .2s;
}.logo ul li:nth-child(3){
  animation-delay: .3s;
}.logo ul li:nth-child(4){
  animation-delay: .4s;
}.logo ul li:nth-child(5){
  animation-delay: .5s;
}.logo ul li:nth-child(6){
  animation-delay: .6s;
}.logo ul li:nth-child(7){
  animation-delay: .7s;
}.logo ul li:nth-child(8){
  animation-delay: .8s;
}.logo ul li:nth-child(9){
  animation-delay: .9s;
}.logo ul li:nth-child(10){
  animation-delay: 1s;
}
.logo ul li:nth-child(11){
  animation-delay: 1.1s;
}.logo ul li:nth-child(12){
  animation-delay: 1.2s;
}.logo ul li:nth-child(13){
  animation-delay: 1.3s;
}


.free-box{
  background-color: #fd8e8e;
  border: 2px solid var(--bitter-sweet);
  position: relative;
  height: 3rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: .6rem;
  border-radius: 5px;
  overflow: hidden;
}
.free-box span{
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  font-weight: 900;
}
.top-half{
  color:var(--steel-pink);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  animation: animateTopHalf 3s linear infinite;
}
.bottom-half{
  color:var(--jungle-green);
  clip-path: polygon(0 50%,100% 50%,100% 100%,0 100%);
  animation: animateTopHalf 3s linear reverse infinite;

}
.panel{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 5px;
}
.dropDown{
  width: 15rem;
}
.dropDown-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: .5rem  1rem;
  border-radius: 5px ;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 2px;
  transition: .2s all;
}
.action{
  display: flex;
  justify-content:center;
  max-width: 80%;
  gap: 1rem;
  margin: 3rem auto;
  cursor: pointer;
  height: 20rem;
}
.dropDown-panel:hover{
  background-color: var(--light);
  color: var(--tertiary)
}
.btn{
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--light);
  color: var(--tertiary);
  transition: all .2s;
  text-transform: uppercase;
}
.btn:hover{
  color:#fff;
  background-color:var(--secondary-color);
}
.dropDown-list{
  list-style: none;
  font-size: 1rem;
}
.dropDown-list li{
  border-radius: 5px;
  padding: .5rem 1rem;
  transition: all .2s;
  color: var(--primary-color);
}
.dropDown-list li:hover{
  background-color: var(--light);
  color:#fff;
}
.movie-table{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding-bottom: 3rem;

}

.movie-table table,td,th{
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
  font-size: 1rem;

  padding: 1rem;
}
th{
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 900;
}
.vpn-note{
  padding: 1rem;
  background-color: var(--bitter-sweet);
  color: var(--steel-pink);
  position: relative;
  height: 4rem;
  overflow: hidden;
}
.vpn-note span{
  font-size: 1.5rem;
  transform: translateX(-100%);
  position:absolute;
  animation: animate-vpn-note 8s linear backwards infinite ;
}
.sortable{
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.skeleton {
  width: 80%;
  margin: 3rem auto;
  height: 500px; /* Adjust the height as needed */
  background-color: var(--primary-color); /* Background color of the skeleton */
  border-radius: 4px; /* Rounded corners for a softer look */
  animation: pulse 2s infinite; /* Animation to create a pulsating effect */
}
.error-box{
  width:80%;
  margin:3rem auto;
  height:200px;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes animate-vpn-note{
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(200%);
  }
}
@keyframes animateTopHalf{
  0%{
    transform: translateX(-100%);
  }
  33%{
    transform:translateX(0);
  }
  66%{
    transform:translateX(0)
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes animateBottomHalf{
  0%{
    transform: translateX(100%);
  }
  33%{
    transform:translateX(0);
  }
  66%{
    transform:translateX(0)
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes animate-logo {
  0%{
    color:var(--tertiary);
  }
  90%{
    color: var(--tertiary);
  }
  100%{
    color: yellowgreen;
  }
  
}

@media(max-width:870px){
  html{
    font-size: 14px;
  }
}
@media(max-width:770px){
  html{
    font-size: 12px;
  }
  /* .container{
    height: 100vh;
  } */
}

@media(max-width:470px){
  html{
    font-size: 10px;
  }
}
@media(max-width:400px){
  html{
    font-size: 8px;
  }
}
@media(max-width:300px){
  html{
    font-size:6px;
  }
}